.button {
  display: block;
  padding: 16px 0;
  font-size: @font-size-extra;
  line-height: @line-height-title;
  font-weight: bold;
  color: @color-contrast;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @color-feature;
  border: none;

  &:hover,
  &:focus {
    background-color: @button-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @button-active;
  }
}

button[disabled] {
  background-color: @button-disabled;
}

button[disabled].video__control {
  background-color: transparent;

  svg {
    fill-opacity: 0.3;
  }
}
