.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  margin-left: 6px;
  margin-right: -5px;
  text-decoration: none;
  color: inherit;
}

.copyright__logo-image {
  display: block;
  width: 34px;
  height: 34px;
}
