.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  margin-left: 6px;
  color: inherit;
  text-decoration: none;
}

.copyright__logo-image {
  display: block;
  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    fill: @color-feature;
  }

  &:active {
    fill: #000000;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
  }
}
