.features {
  background-color: #ffffff;
}

.features__list {
  .list-style-none;
}

.features__tile {
  padding: 0 @side-padding;
  text-align: center;
}

.features__tile--top-feature {
  padding-top: 39px;
  padding-bottom: 40px;
  flex-grow: 1;
  color: @color-contrast;
  background-color: @color-feature;
}

.features__item--additional {
  padding: 27px @side-padding;
  text-align: center;
  background-color: #eeeeee;
}

.features__title {
  .text-title();
  margin: 0;
}

.features__title--top-feature {
  color: @color-contrast;
}

.features__title br {
  display: none;
}

.features__image {
  margin: 0 auto;
  display: block;
  height: 260px;
  width: auto;
}

.features__number {
  margin: 9px 0 0;
}

.features__description {
  margin: 15px 0 0;
}

@media (min-width: @tablet-width) {
  .features__container {
    display: flex;
  }

  .features__image {
    min-width: 512px;
    height: 256px;
    object-fit: cover;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }

  .features__item {
    width: 100%;
    background-color: #ffffff;
  }

  .features__item--additional {
    padding: 45px 40px 44px;
    width: calc(100% / 3 - 0.1px); //0.1px из-за бага в ie
    background-color: #eeeeee;
  }

  .features__tile {
    padding: 45px 45px 44px;
  }

  .features__title {
    font-size: @font-size-extra;
  }

  .features__title br {
    display: inline;
  }

  .features__number {
    margin-top: 10px;
  }

  .features__description {
    margin-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .features__image {
    min-width: 800px;
  }

  .features__item--additional {
    padding: 45px 50px 44px;
  }
}
