.input-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-field__label {
  line-height: 26px;
}

.input-field__label--side {
  margin-right: 14px;
}

.input-field__label--atop {
  padding-left: 22px;
  width: 100%;
}

.input-field__string {
  flex-grow: 1;
  padding: 21px 21px 20px;
  width: 140px;
  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    font-size: @font-size-title;
    line-height: @line-height-title;
    color: @color-title;
    font-weight: 700;
  }
}

.input-field__string--textarea {
  min-height: 160px;
}
