.location {
  background-color: #ffffff;
}

.location__wrapper {
  position: relative;
  background-color: #f4f0ed;
}

.location__map {
  width: 100%;
  height: 350px;
  position: relative;
}

.location__google-maps {
  height: 350px;

  .gm-style-mtc,
  .gmnoprint,
  .gm-svpc,
  .gm-fullscreen-control,
  .gm-style-cc {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .location__wrapper {
    background-color: #f4f3ef;
  }
}

@media (min-width: @desktop-width) {
  .location {
    max-width: 1200px;
    margin: 0 auto;
  }
}
