.main-nav {
  position: relative;
}

.main-nav__menu-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background: url("/img/icon-cross.svg") no-repeat center;
  border: 0;
}

.main-nav--closed .main-nav__menu-btn {
  background: url("/img/icon-menu.svg") no-repeat center;
}

.main-nav--nojs .main-nav__menu-btn {
  display: none;
}

.main-nav__a11y-menu-btn {
  display: none;
}

.main-nav__a11y-menu-btn--show {
  display: inline;
}

@media (max-width: @tablet-width - 1px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__menu-btn {
    display: none;
  }
}
