.page-footer__wrapper {
  padding: 36px @side-padding 27px;
}

.page-footer__hashtag {
  .text-extra;
  margin: 0;
}

.page-footer__social {
  .list-style-none;
  margin-top: 36px;
}

.page-footer__copyright {
  margin: 43px 0 0;
}
