.page-cover__image {
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat center;
}

.page-cover__image--main-page {
  padding-top: 90px;
  margin-bottom: 40px;
  height: 299px;
}

.page-cover__image--secondary-page {
  padding-top: 52px;
  margin-bottom: 38px;
  height: 106px;
}

.page-cover__logo {
  margin: 0 auto;
  display: block;
}

.page-cover__title {
  padding: 0 @side-padding;
  .text-title;
}

.page-cover__description {
  margin: 25px 0 26px;
  padding: 0 @side-padding;
  line-height: @line-height-title;
  text-align: center;
}

.page-cover__description--main-page {
  margin: 27px 0 42px;
}
