.page-footer__wrapper {
  padding: 0 @side-padding;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__hashtag {
  margin: 36px 0;
  .text-extra;
}

.page-footer__copyright {
  margin: 32px 0 30px;
}
