.page-header__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.page-header__logo {
  margin: 0 auto -27px;
  width: 102px;
  height: 83px;
  //размеры указаны для ie, иначе не центрирует
}

.page-header__logo-image {
  display: block;
}
