.photo-item__image {
  margin: 0;
  display: flex;
  justify-content: center;
}

.photo-item__title {
  margin: 15px 0  0;
}

.photo-item__author {
  margin: 1px 0 0;
  text-transform: none;
}

.photo-item__like-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.photo-item__like-count {
  margin: 8px 0 0;
  font-weight: 700;
  color: @color-title;
}
