.recommended-list {
  .list-style-none;
  padding-top: 15px;
  padding-bottom: 29px;
  margin: 0 auto;
  max-width: 320px;
}

.recommended-list__item {
  padding: 20px 20px 8px 70px;
}

.recommended-list__title {
  .text-title();
  position: relative;
  margin: 0;
  text-align: left;
}

.recommended-list__title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -50px;
  display: block;
  width: 40px;
  height: 40px;
}

.recommended-list__item--lodging .recommended-list__title::before {
  background: url("/img/icon-house.svg") no-repeat center;
  background-size: 39px 37px;
}

.recommended-list__item--souvenirs .recommended-list__title::before {
  background: url("/img/icon-gift.svg") no-repeat center;
  background-size: 32px 38px;
}

.recommended-list__item--food .recommended-list__title::before {
  background: url("/img/icon-burger.svg") no-repeat center;
  background-size: 40px 35px;
}

.recommended-list__description {
  margin: 14px 0 0 0;
  text-align: left;
}

.recommended-list__description br {
  display: none;
}

@media (min-width: @tablet-width) {
  .recommended-list {
    padding: 0;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .recommended-list__item {
    padding: 159px 45px 61px;
    width: 33.333333%;
    min-height: 330px;
  }

  .recommended-list__item--lodging {
    order: 1;
  }

  .recommended-list__item--souvenirs {
    order: 3;
  }

  .recommended-list__item--food {
    order: 2;
  }

  .recommended-list__title {
    font-size: @font-size-extra;
    text-align: center;
  }

  .recommended-list__title::before {
    top: -104px;
    left: calc(50% - 41px);
    width: 80px;
    height: 80px;
  }

  .recommended-list__item--lodging .recommended-list__title::before {
    background-size: 75px 72px;
  }

  .recommended-list__item--souvenirs .recommended-list__title::before {
    background-size: 64px 75px;
  }

  .recommended-list__item--food .recommended-list__title::before {
    background-size: 77px 68px;
  }

  .recommended-list__description {
    margin-top: 21px;
    text-align: center;
  }

  .recommended-list__description br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .recommended-list {
    max-width: 1200px;
  }

  .recommended-list__item {
    padding: 159px 50px 82px;
  }
}
