.recommended-list {
  .list-style-none;
}

.recommended-list__item {
  padding: 0 @side-padding;
  margin-top: 17px;

  &:first-child {
    margin-top: 24px;
  }

  &:last-child {
    margin-bottom: 37px;
  }
}

.recommended-list__title {
  margin: 11px 0 14px 50px;
  .text-title();
  text-align: left;
}

.recommended-list__description {
  margin: 0 0 0 50px;
  text-align: left;
}
