.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item:not(:first-child) {
  margin-left: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: @color-feature;

  &:hover,
  &:focus {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-active;
  }

  svg {
    fill: @color-contrast;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.social__item:nth-child(2n) .social__link {
  width: 47px;
}
