.video {
  background-color: #ffffff;
}

.video__wrapper {
  padding: 33px 0 39px;
}

.video__image {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.video__volume-scale-container {
  order: -1;
  width: 280px;
  margin: 0 -5px;
  padding: 22px 22px 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__volume-scale {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__volume-toggle {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.video__controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: -45px auto 0;
  padding: 0 5px;
  background-color: #f2f2f2;
}

.video__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 66px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-right: 101px;
  }

  &:last-child {
    margin-left: 1px;
  }

  svg {
    fill: #5c6870;
  }
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    padding: 67px 0 40px;
  }

  .video__image {
    margin-top: 73px;
  }

  .video__controls-wrapper {
    position: relative;
    max-width: 648px;
    margin-top: -93px;
    padding: 0 23px 0 15px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__volume-scale-container {
    order: 0;
    width: 389px;
    margin: 0 30px 0 22px;
    padding: 45px 0;
    background-color: transparent;
  }

  .video__volume-scale {
    width: 389px;
  }

  .video__volume-toggle {
    left: 113px;
  }

  .video__control {
    height: 93px;

    &:first-child {
      margin-right: 0;
    }

    svg {
      fill: #ffffff;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-item__footer {
    padding: 15px 21px 17px;
  }

  .video__wrapper {
    padding: 71px 0 85px;
  }

  .video__image {
    margin-top: 71px;
  }

  .video__controls-wrapper {
    max-width: 800px;
  }

  .video__volume-scale-container {
    width: 540px;
  }

  .video__volume-scale {
    width: 540px;
  }
}
